<div class="three-column-layout">
  <!-- Left Column -->
  <div class="left-column">
    <p>{{ feeder.name }}</p>
    <img src="assets/images/food.png" alt="Feeder icon" class="icon-below">
  </div>

  <!-- Middle Column -->
  <div class="middle-column">
    <div class="row">Tags: {{ feeder.tags }}</div>
    <div class="row">Meal: {{ feeder.portion_meal }}</div>
    <div class="row">Next feeding: {{ findNext() }}</div>
  </div>

  <!-- Right Column -->
  <div class="right-column">
    <img src="assets/images/pencil.png" alt="Edit feeder" class="column-icon" (click)="editClick()"
         matTooltip="Edit feeder" [matTooltipPosition]="'right'">
    <img src="assets/images/pet-food.png" alt="Instant feed" class="column-icon" (click)="feedClick()"
         matTooltip="Instant feed" [matTooltipPosition]="'right'">
    <img src="assets/images/notebook.png" alt="Check logs" class="column-icon" (click)="logsClick()"
         matTooltip="Check logs" [matTooltipPosition]="'right'">
    <img src="assets/images/download.png" alt="Download schedule" class="column-icon" (click)="downloadScheduleClick()"
         matTooltip="Download schedule" [matTooltipPosition]="'right'">
  </div>
</div>
