<div class="profile-page">
  <!-- Top Section: User Info -->
  <div class="user-info">
    <h2>{{ fullName }}</h2>
    <p>{{ email }}</p>
    <a routerLink="/family">Family</a>
  </div>

  <div class="content-sections">
    <!-- Left Bottom Section: Feeders -->
    <div class="feeders">
      <h3>Feeders</h3>
      <ul>
        <li *ngFor="let feeder of feeders"><app-feeder-instance [feeder]="feeder"></app-feeder-instance> </li>
      </ul>
      <div (click)="addNewFeeder()" class="open-dialog-div"> add new </div>
    </div>

    <!-- Right Bottom Section: Feeder Statuses -->
<!--    <div class="feeder-statuses">-->
<!--      <h3>Feeder Statuses</h3>-->
<!--      <ul>-->
<!--        <li *ngFor="let feeder of feeders"><app-feeder-instance [feeder]="feeder"></app-feeder-instance> </li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</div>


