<div class="profile-page">
  <!-- Top Section: User Info -->
  <div class="user-info">
    <h2>{{ name }} Profile</h2>
  </div>

  <!-- Content Sections -->
  <div class="content-sections">
    <!-- Feeders Section -->
    <div class="feeders">
      <h3>Feeders</h3>
      <ul>
        <li *ngFor="let feeder of feeders">
          <app-feeder-instance [feeder]="feeder"></app-feeder-instance>
        </li>
      </ul>
      <div *ngIf="familyAdmin" (click)="addNewFeeder()" class="open-dialog-div">
        Add New
      </div>
    </div>
  </div>
</div>
