/* You can add global styles to this file, and also import other style files */
::ng-deep .mat-dialog-container {
  //position: absolute !important;  /* Fix it on the screen */
  top: 50% !important;         /* Vertically center it */
  left: 50% !important;        /* Horizontally center it */
  transform: translate(-50%, -50%) !important;  /* Adjust for perfect centering */
  z-index: 9999;               /* Ensure it's on top of other elements */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional shadow for better visibility */
}

/* Optional: Customize the backdrop color and opacity */
::ng-deep .mat-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.5);  /* Darken the background */
  z-index: 9998;                          /* Keep the backdrop below the dialog */
}

